@model StudentRegistrationLogin.Models.RoleViewModel
@Html.Partial("_AdminLayoutHeader")
@{
    ViewBag.Title = "Create";
    Layout = null;
}
<html>
<head>

</head>
<body class="hold-transition login-page">
    <div class="login-box" style="max-width:500px;margin:auto">
        <div class="card card-outline card-primary">
            <div>
                <div class="card-header text-center">
                    <h1><b>Create Role</b></h1>
                    
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Create Roles For Users</p>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()


                        <div class="form-group">
                            @Html.HiddenFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Role Name" } })

                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </div>
                    }
                </div>
            </div>


            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</body>
</html>

@*<h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>RoleViewModel</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@


@Html.Partial("_AdminLayoutFooter")